#toast {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #333;
    color: white;
    padding: 25px 40px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

#toast.show {
    opacity: 1;
}

#toast.success {
    background: #28a745;
}

#toast.error {
    background: #dc3545;
}